.featured-div .cards-div .card-m {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}
.featured-div .cards-div .card-m .icon-box {
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #fffafa;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.featured-div .cards-div .card-m .icon-box i {
  font-size: 2.5rem;
  color: rgb(12, 138, 255);
}
.featured-div .cards-div .card-m .icon-box img {
  width: 90%;
}
