.login-page .number-form .form-control select {
  padding: 0.5rem 1rem;
  font-family: inherit;
  border: none;
  font-size: 1.8rem;
}

.top-nav .top-nav-top .details-tnav h1 {
  /* background: var(--primary-blue); */
  color: var(--primary-blue);
  margin-bottom: 0.5rem;
}
.top-nav .top-nav-top .details-tnav h1 i {
  font-size: 3rem;
}

.top-nav .top-nav-bottom i {
  color: var(--primary-blue);
}

.bottom-nav a {
  display: flex;
  flex-direction: column;
  hanging-punctuation: 0.5rem;
  align-items: center;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 5px;
  align-items: center;
  color: black;
  text-decoration: none;
  border-radius: 1rem;
  border: 2px solid transparent;
  transition: 300ms;
}
.bottom-nav .link-active {
  color: var(--primary-blue);
}

.bottom-nav a p {
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .bottom-nav .link-active {
    color: var(--primary-blue);
    border: 2px solid #c3c9ff;
    background-color: #eeeeee;
  }
  .bottom-nav a:hover {
    border: 2px solid #ccc;
    background-color: #eeeeee;
  }
  .bottom-nav .link-active:hover {
    background-color: rgb(255, 255, 255);
    color: var(--primary-blue);
  }
}
