.app {
  background-color: rgb(230, 230, 230);
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
:root {
  --primary-blue: #2459e0;
}
.title-text {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.full-body {
  padding: 1rem;
  padding-bottom: 9rem;
  min-height: 100vh;
  position: relative;
  z-index: 101;
  background-color: white;
}
