.app {
  background-color: rgb(230, 230, 230);
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
:root {
  --primary-blue: #2459e0;
}
.title-text {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.full-body {
  padding: 1rem;
  padding-bottom: 9rem;
  min-height: 100vh;
  position: relative;
  z-index: 101;
  background-color: white;
}
.secondary-btn {
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-size: 1.8rem;
  height: fit-content;
  color: #1e1e1e;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: #f4f5f6;
  cursor: pointer;
  border: 2px solid #979797;
  font-weight: 500;
}
.secondary-btn.my-text-xs {
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-size: 1.4rem;
  height: fit-content;
  color: #1e1e1e;
  padding: 0.05rem 1rem;
  border-radius: 0.5rem;
  background-color: #f4f5f6;
  cursor: pointer;
  border: 1px solid #979797;
  font-weight: 500;
  width: fit-content;
}
.primary-btn {
  font-weight: 500;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-size: 1.8rem;
  height: fit-content;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: #2459e0;
  cursor: pointer;
}
