.app {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
:root {
  --primary-blue: #2459e0;
}
.title-text {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.full-body {
  padding: 1rem;
  padding-bottom: 10rem;
  min-height: 100vh;
  position: relative;
  z-index: 105;
  background-color: #f4f5f6;
}

.toast-container {
  width: 80vw;
  right: -15%;
  top: 3rem;
  position: fixed;
  border-radius: 1.5rem;
}

.toast-content {
  color: #000000;
}

.Toastify__toast-body {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}
.Toastify__toast-theme--light {
  width: 70vw;
  right: -25%;
  top: 4rem;
  backdrop-filter: blur(5px);
  border-radius: 1.5rem;
  background: #bde5ff44;
  color: #000000;
}

@media screen and (min-width: 481px) {
  .Toastify__toast-theme--light {
    width: 40vw;
    right: 2rem;
    top: 4rem;
    backdrop-filter: blur(5px);
    border-radius: 1.5rem;
    background: #bde5ff44;
    color: #000000;
  }
}
@media screen and (min-width: 881px) {
  .Toastify__toast-theme--light {
    width: 30vw;
    right: 50%;
    top: 4rem;
    backdrop-filter: blur(5px);
    border-radius: 1.5rem;
    background: #bde5ff44;
    color: #000000;
  }
}

.part-body {
  padding: 1rem;
  padding-bottom: 12rem;
  min-height: 100vh;
  position: relative;
  z-index: 101;
  background-color: #f4f5f6;
}

.secondary-btn.my-text-xs {
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-size: 1.4rem;
  height: fit-content;
  color: #1e1e1e;
  padding: 0.05rem 1rem;
  border-radius: 0.5rem;
  background-color: #f4f5f6;
  cursor: pointer;
  border: 1px solid #979797;
  font-weight: 500;
  width: fit-content;
}
