.details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.details .details-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
.details .details-cards .details-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  cursor: pointer;
  height: fit-content;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px;
}
.details .details-cards .details-card p {
  font-weight: 500;
}
.details .details-cards .details-card > div {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: top;
  margin: 0 3rem;
}
.details .details-cards .details-card > div > ul > li {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #333333;
}
.details .details-cards .details-card > div .img-div {
  width: 30%;
  position: relative;
}
.details .details-cards .details-card > div .img-div img {
  width: 100%;
}
.details .details-cards .details-card > div .img-div span {
  width: 100%;
  bottom: 0;
  position: absolute;
  right: 30%;
  text-transform: capitalize;
  font-size: 1.4rem;
  background: blue;
  color: white;
  width: auto;
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
}
