.home .home-banner {
  display: flex;
  overflow: auto;
  width: max-content;
  gap: 1rem;
}
.home .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin: 0rem 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
